{# templates/productos.html.twig #}
{% extends 'base.html.twig' %}
{% block title %}Tabla de productos{% endblock %}
{% block body %}

<header>
	{% block header %}
		{{ include('cabecera.html.twig') }}
		<hr>
	{% endblock %}
</header>
    <table>
           


		
		<thead>
        <tr><td>Nombre</td><td>Descripción</td><td>Stock</td><td>Peso</td><td>Comprar</td></tr>


		</thead>
		<tbody>
        {% for prod in productos %}

		 
				<tr>
					<td>{{ prod.nombre }}</td>
					<td>{{ prod.descripcion }}</td>
					<td>{{ prod.stock }}</td>
					<td>{{ prod.peso }}</td>
					<td>
						<form action = {{path('anadir')}} method = 'POST'>
							<input name = 'unidades' type='number' min = '1' value = '1'>
							<input type = 'submit' value='Comprar'><input name = 'id' type='hidden' value = {{prod.id}}>
						</form>
					</td>
				</tr>
	
        {% endfor %}
	</tbody>
    </table>
{% endblock %}

 